---
layout: home
title: [suki-rai]
---

  <div class="project one">
    {% include homepage_project.html proj="grolsch" %}
  </div>

  <div id="container">
      <div class="project two">
      {% include homepage_project.html proj="unknowndisorder" %}
      <div class="info">
        <p><a class="bentonsanslight" href="unknowndisorder">/02</a></p>
        <p><a class="bentonsansmedium"href="unknowndisorder">Unknown Disorder</a></p>
        <p><a class="bentonsanslight"href="unknowndisorder">OFFF</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project three">
      {% include homepage_project.html proj="colors" %}
      <div class="info">
        <p><a class="bentonsanslight" href="colors">/03</a></p>
        <p><a class="bentonsansmedium" href="colors">Apocalypse</a></p>
        <p><a class="bentonsanslight" href="colors">Colors Magazine</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project four">
      {% include homepage_project.html proj="afrikan" %}
      <div class="info">
        <p><a class="bentonsanslight" href="afrikan">/04</a></p>
        <p><a class="bentonsansmedium" href="afrikan">Afrikan</a></p>
        <p><a class="bentonsanslight" href="afrikan">Afrikan Boy</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project five">
      {% include homepage_project.html proj="europcar" %}
      <div class="info">
        <p><a class="bentonsanslight" href="europcar">/05</a></p>
        <p><a class="bentonsansmedium" href="europcar">Sing your heart out</a></p>
        <p><a class="bentonsanslight" href="europcar">Europcar</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project six">
      {% include homepage_project.html proj="electric" %}
      <div class="info">
        <p><a class="bentonsanslight" href="electric">/06</a></p>
        <p><a class="bentonsansmedium" href="electric">Become Electric</a></p>
        <p><a class="bentonsanslight" href="electric">BMW</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project seven">
      {% include homepage_project.html proj="ps" %}
      <div class="info">
        <p><a class="bentonsanslight" href="ps">/07</a></p>
        <p><a class="bentonsansmedium" href="ps">PS Postcards</a></p>
        <p><a class="bentonsanslight" href="ps">Ocean Labs</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project eight">
      {% include homepage_project.html proj="shadowline" %}
      <div class="info">
        <p><a class="bentonsanslight" href="shadowline">/08</a></p>
        <p><a class="bentonsansmedium" href="shadowline">The Shadow Line</a></p>
        <p><a class="bentonsanslight" href="shadowline">BBC</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project nine">
      {% include homepage_project.html proj="whitechapel" %}
      <div class="info">
        <p><a class="bentonsanslight" href="whitechapel">/09</a></p>
        <p><a class="bentonsansmedium" href="whitechapel">Whitechapel</a></p>
        <p><a class="bentonsanslight" href="whitechapel">BBC</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project ten">
      {% include homepage_project.html proj="needs" %}
      <div class="info">
        <p><a class="bentonsanslight" href="needs">/010</a></p>
        <p><a class="bentonsansmedium" href="needs">Is the i3 right for you?</a></p>
        <p><a class="bentonsanslight" href="needs">BMW</a></p>
      </div>
    </div> <!-- end project -->
        
      <div class="project eleven">
      {% include homepage_project.html proj="eon" %}
      <div class="info">
        <p><a class="bentonsanslight" href="eon">/011</a></p>
        <p><a class="bentonsansmedium" href="eon">Making energy easier</a></p>
        <p><a class="bentonsanslight" href="eon">E.ON</a></p>
      </div>
    </div> <!-- end project -->
        
    <p style="clear:both">&nbsp;</p>
  </div>