---
layout: home
title: [suki-rai]
name: home
---

  <!--

  TODO:

  1. clean up css
  2. fix proejct urls
  3. make picturefill use correct images
  4. footer
  5. text/image spacings
  6. sass?
  7. padding on project box


  -->

  <div class="project one">
    {% include homepage_picturefill.html file="grolsch" %}
  </div>

  <div id="container">
      <div class="project two">
      {% include homepage_picturefill.html file="unknowndisorder" %}
      <div class="info">
        <p><a href="unknowndisorder">/02</a></p>
        <p><a class="colfaxregular" href="unknowndisorder">Unknown <br />Disorder</a></p>
        <p><a href="unknowndisorder">OFFF</a></p>
      </div>
    </div>
        
      <div class="project three">
      {% include homepage_picturefill.html file="colors" %}
      <div class="info">
        <p><a href="colors">/03</a></p>
        <p><a class="colfaxregular" href="colors">Apocalypse</a></p>
        <p><a href="colors">Colors Magazine</a></p>
      </div>
    </div>
        
      <div class="project four">
      {% include homepage_picturefill.html file="afrikan" %}
      <div class="info">
        <p><a href="afrikan">/04</a></p>
        <p><a class="colfaxregular" href="afrikan">Afrikan</a></p>
        <p><a href="afrikan">Afrikan Boy</a></p>
      </div>
    </div>
        
      <div class="project five">
      {% include homepage_picturefill.html file="europcar" %}
      <div class="info">
        <p><a href="europcar">/05</a></p>
        <p><a class="colfaxregular" href="europcar">Sing your <br />heart out</a></p>
        <p><a href="europcar">Europcar</a></p>
      </div>
    </div>
        
      <div class="project six">
      {% include homepage_picturefill.html file="electric" %}
      <div class="info">
        <p><a href="electric">/06</a></p>
        <p><a class="colfaxregular" href="electric">Become Electric</a></p>
        <p><a href="electric">BMW</a></p>
      </div>
    </div>
        
      <div class="project seven">
      {% include homepage_picturefill.html file="ps" %}
      <div class="info">
        <p><a href="ps">/07</a></p>
        <p><a class="colfaxregular" href="ps">PS Postcards</a></p>
        <p><a href="ps">Ocean Labs</a></p>
      </div>
    </div>
        
      <div class="project eight">
      {% include homepage_picturefill.html file="shadowline" %}
      <div class="info">
        <p><a href="shadowline">/08</a></p>
        <p><a class="colfaxregular" href="shadowline">The Shadow Line</a></p>
        <p><a href="shadowline">BBC</a></p>
      </div>
    </div>
        
      <div class="project nine">
      {% include homepage_picturefill.html file="whitechapel" %}
      <div class="info">
        <p><a href="whitechapel">/09</a></p>
        <p><a class="colfaxregular" href="whitechapel">Whitechapel</a></p>
        <p><a href="whitechapel">BBC</a></p>
      </div>
    </div>
        
      <div class="project ten">
      {% include homepage_picturefill.html file="needs" %}
      <div class="info">
        <p><a href="needs">/10</a></p>
        <p><a class="colfaxregular" href="needs">Is the i3 right for you?</a></p>
        <p><a href="needs">BMW</a></p>
      </div>
    </div>
        
      <div class="project eleven">
      {% include homepage_picturefill.html file="eon" %}
      <div class="info">
        <p><a href="eon">/11</a></p>
        <p><a class="colfaxregular" href="eon">Making energy easier</a></p>
        <p><a href="eon">E.ON</a></p>
      </div>
    </div>
        
    <p style="clear:both">&nbsp;</p>
  </div>