<script>
    if ( !Modernizr.touch ) {
      var header = document.querySelector('body > .project');
      var container = document.querySelector('#container');
      var origOffsetY = header.offsetHeight;
      function onScroll(e) {
        if (window.scrollY >= 360) {
          header.classList.add('sticky');
          container.classList.add('stickypadding');
        } else {
          header.classList.remove('sticky');
          container.classList.remove('stickypadding');
        }
      }
      document.addEventListener('scroll', onScroll);
    }
  </script>