<footer>
    <div id="footer-inner">
      
      <div>
        <h2>/contact</h2>
        <p><a href="mailto:suki@suki-rai.com">suki@suki-rai.com</a></p>
        <p><a href="http://twitter.com/miscondukt">@miscondukt</a></p>
      </div>

      <div>
        <h2>/blog</h2>
        <p><a href="http://miscondukt.tumblr.com/">The privilege of being a woman</a></p>
      </div>

      <div>
        <h2>/about</h2>
        <p><a href="/license">license</a></p>
      </div>

      <div style="clear:both;float: none;"></div>
    </div>
  </footer>