<div data-picture data-alt="[{{ include.proj }}]">
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(max-width:600px)"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(min-width:601px)"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(min-width:601px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(min-width: 1008px)"></div>
  <div data-src="{{ site.baseurl }}/img/{{ page.name }}/{{ include.file }}.jpg" data-media="(min-width: 1008px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
  <noscript>
    <img src="{{ site.baseurl }}/img/{{ include.proj }}/{{ include.file }}.jpg" alt="[{{ include.proj }}]">
  </noscript>
</div>