$standardSpacing: 9px;

$smallText: 13px;
$mediumText: 14px;
$largeText: 18px;
$largerText: 24px;

$standardLeading: 1em;

$textColorOne: #000;
$textColorThree: #555;
$textColorFour: #aaa;

/* Global Reset */
* { 
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

html, body, div, img, p, h1, h2, h3, h4, a {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 21px;
  font-weight: 400;
  float: left;
}

@font-face {
  font-family: 'colfax-web';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/ColfaxWebLight.eot');
  src: url('../fonts/ColfaxWebLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebLight.woff') format('woff');
}

@font-face {
  font-family: 'colfax-web';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/ColfaxWebRegular.eot');
  src: url('../fonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ColfaxWebRegular.woff') format('woff');
}

html, body {
  font-family: "colfax-web", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* Home */
html {
  background: #f2f2f2;
}

a img,
img {
  vertical-align: bottom;
  border: 0;
}

header {
  height: 45px;
  background: #fff;
  display: table;
  top: $standardSpacing;
  opacity: 0.8;
  z-index: 1000;
}

a,
a:visited,
a:active {
  color: $textColorOne;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#header-inner {
  display: table-cell;
  vertical-align: middle;
}

.container {
  height: 63px;
}

#container,
.container,
#header-inner,
#footer-inner {
  width: 750px;
  margin: 0 auto;
}

header p {
  float: right;
}





/****************************/
/* Projects
/****************************/

.project {
  float: left;
  position: relative;
}

/****************************/
/* mostly type */
/****************************/

p, h1, h2, h3, h4, a {
  line-height: $standardLeading;
}

.project p,
.project h2,
.project h3,
.project h4 {
  font-style: normal;
  font-weight: 300;
  font-size: $mediumText;
}

.project h2 {
  font-size: $largerText;
}

.project h3 {
  font-weight: 400;
  font-size: 36px;
}

.project h4 {
  font-size: $largeText;
}

.projectpage .project p {
  font-size: $smallText;
}

.projectpage .project b a {
  font-size: $smallText;
  font-weight: 400;
}

.description p.link {
  margin-top: 0;
  font-weight: 400;
}

.project .info p:nth-child(1) {
  font-size: 16px;
  font-weight: 300;
  margin-top: 12px;
}

.project .info p:nth-child(2) {
  font-size: 22px;
  font-weight: 400;
  margin-top: 5px;
}

.project .info p:nth-child(3) {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 6px;
}

.project .info {
  text-align: left;
  padding: 0 5px 0 0;
}

.project img {
    width: 100%;
}

footer {
  color: $textColorOne;
  clear: left;
  background: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 400;
  font-size: $smallText;
}

/****************************/
/* end of type */
/****************************/

footer a,
footer a:visited,
footer a:active {
  color: $textColorOne;
}

footer h2 {
  font-weight: 300;
}

/* Project pages */
.description {
  background-color: #fff;
  height: auto;
  text-align: left;
}

.description h2,
.description h3,
.description h4 {
  color: $textColorThree;
}

.description p {
  color: $textColorFour;
  padding: 0;
}

.projectpage .project-image-one,
.projectpage .project-image-three {
  height: auto;
}

.template-one .img2 {
  width: 100%;
  height: auto;
}

.project-image-two iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectpage .project-image-three,
.projectpage .project-image-two {
  width: 504px;
  height: auto;
}

.template-one .project-image-two {
  width: 750px;
}

/* first project only - the big header image on every screen */
body > .project {
  text-align: center;
  overflow: hidden;
  height: 360px;
  width: 100%;
}

.project {
  margin-bottom: $standardSpacing;
}

.description h3 {
  margin-top: 10px;    
}

.description h4 {
  margin-top: 2px;    
}

.projectpage .description p {
  margin-top: 13px;   
  line-height: 19px; 
}


/* SMALL SCREENS */
/*****************/
@media screen and (max-width: 600px) {
  body > .project {
    height: 180px;
  }

  body > .project img {  
    width: 600px;
    height: 180px;
    margin-left: -150%;
    margin-right: -150%;
  }

  .description {
    text-align: left;
    padding: 0;
    height: auto;
  }

  .projectpage .description p {
    margin-top: 16px;   
    line-height: 24px;
    font-size: 16px;
  }

}

@media screen and (min-width: 601px) {

  body > .project img {
    height: 360px;
    width: 1200px;
    margin-left: -150%;
    margin-right: -150%;
  }
}

@media screen and (max-width: 749px) {

  .project .info {
    min-height: 130px;
  }

  #container,
  #footer-inner {
    width: 100%;
    padding: 0 9px;
  }

  #container {
    clear: left;
  }

  .container {
    width: auto;
    height: auto;
  }

  header {
    margin-top: $standardSpacing;
    margin-bottom: $standardSpacing;
    width: 100%;
    height: 44px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2.5%
  }

  .project:nth-child(odd) {
    clear: left;
  }

  .project p {
    font-size: $largerText;
  }

  .project {
    width: 50%;
  }

  .projectpage .project-image-one,
  .projectpage .project-image-two,
  .projectpage .project-image-three,
  .description {
    width: 100%;
    height: auto;
  }

  .description {
    padding: 2.5%
  }

  #footer-inner div {
    margin-bottom: 48px;
  }

  #footer-inner div:nth-child(3),
  #footer-inner div:nth-child(4) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 750px) {
  #footer-inner div {
    float: left;
    width: 33%;
  }

  /* calculate required number of copy lines * their font sizes + any leading + any padding */
  .project .info {
    min-height: 130px;
  }

  .description {
    padding: 2.5%;
  }

  h1 {
    margin-left: $standardSpacing;
  }

  #footer-inner div:nth-of-type(3) {
    text-align: right;
  }
}

@media screen and (min-width: 750px) and (max-width: 1007px) {
  #container,
  #header-inner,
  #footer-inner {
    width: 750px;
  }

  .container {
    height: auto;
  }

  header {
    margin-bottom: $standardSpacing;
    margin-top: $standardSpacing;
  }

  .project {
    width: 250px;
  }

  .description {
    float: right;
    width: 375px;
    height: 375px;
  }

  .project:nth-of-type(7),
  .project:nth-of-type(8),
  .project-image-one,
  .projectpage .project-image-three {
    width: 375px;
  }

  .projectpage .project-image-two {
    clear: left;
    float: left;
    width: 50%;
    height: auto;
  }

}

@media screen and (max-width: 1007px) {
    footer {
      float: left;
      width: 100%;
      padding: 22px 0 22px 0;
    }

    footer p,
    footer h2 {
      font-size: 18px;
      font-weight: 300;
    }

    footer p {
      margin-top: 16px;
      font-weight: 400;
    }

    .template-one .project-image-two {
      width: 100%;
    }

    .template-one .project-image-two.video {
      padding-bottom: 56.35%;
    }
}

@media screen and (min-width: 1008px) {

  #container,
  .container,
  #header-inner,
  #footer-inner {
    width: 1008px;
  }
  
  header {
    position: fixed;
    margin: 0 auto;
  }

  .project {
    width: 168px;
    margin-bottom: $standardSpacing;
  }

  .sticky {
    position: fixed;
    top: -297px;
  }

  #container.stickypadding {
    margin-top: 369px;
  }

  body > .project {
    z-index: 100;
  }

  body > .project img {
    max-width: 1200px;
  }

  .project:nth-of-type(7),
  .project:nth-of-type(8),
  .project-image-one {
    width: 504px;
  }

  footer p,
  footer h2 {
    font-size: $smallText;
    font-weight: 300;
  }

  footer p {
    margin-top: 8px;
    font-weight: 400;
  }

  .description {
    width: 504px;
    height: 504px;
    padding: 32px;
    float: right;
  }

  .project-image-two.video {
    height: 422px;
  }
  
}