<!doctype html>
<html lang="en">
<head>
  <title>suki rai &mdash; {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="{{ site.baseurl }}/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{ site.baseurl }}/js/js.js" type="text/javascript"></script>
</head>
  
<body class="{{ page.class }}">

  {% include header.html %}  

  {{ content }}
    
  {% include footer.html %}

  {% include analytics.html %}

</body>             
</html>